html, body {
    font-family: "Source Sans Pro", sans-serif;
}

.light {
    font-family: "Source Sans Pro", sans-serif;

    &.italic {
        font-family: "Source Sans Pro", sans-serif;
    }
}

.bold {
    font-family: "Source Sans Pro", sans-serif;

    &.italic {
        font-family: "Source Sans Pro", sans-serif;
    }
}

.mono {
    font-family: "Source Sans Pro", sans-serif;
}

.dummy {
    display: none;
}

select {
        font-family: "Source Sans Pro", sans-serif;
}


.pictogram {
    font-family: "modern_pictograms_proregular", sans-serif;
}
